@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body {
  background: url(/images/background.png) no-repeat center;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.header__container {
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header span {
  color: #fff;
}

.header__title {
  margin-left: 80px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 22px;
}

.header__info {
  margin-right: 80px;
  display: flex;
  align-items: center;
}

.info__img {
  fill: white;
  margin-left: 25px;
  cursor: pointer;
}

.info__img:hover {
  fill: #3cb878;
}

.header__link::before {
  content: "";
  border-left: 1px solid #fff;
  margin: 0 27px;
}

.color_theme_btn {
  display: flex;
  justify-content: end;
  margin: 20px 93px;
}

.change-theme-btn {
  width: 150px;
  height: 40px;
  color: aliceblue;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(241, 236, 236, 0.4);
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__container {
  width: 444px;
  height: 584px;
  background-color: #fff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 160px;
  height: 48px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 4px;
}

.btn__facebook {
  background-color: #305db8;
  margin-right: 5px;
}

.btn__facebook:hover {
  background-color: #022263;
}

.btn__google {
  background-color: #df4a32;
}

.btn__google:hover {
  background-color: #ab1f09;
}

.form__svg {
  padding: 0 17px;
}

.form__p {
  margin-right: 22px;
}

.form__p::before {
  content: "";
  border-right: 1px solid #0a162f;
  opacity: 0.1;
  margin-right: 17px;
}

.form__link {
  padding-top: 31px;
  display: flex;
  margin-bottom: 15px;
}

.form__link :nth-child(2) {
  color: #434343;
  font-size: 20px;
  line-height: 20px;
  margin-right: 216px;
}

.link__active {
  text-decoration: none;
  color: #3cb878;
}

.green__box {
  width: 18px;
  height: 18px;
  background: #3cb878;
  margin-right: 43px;
}

.form__row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form__container span {
  display: block;
  margin-top: 31px;
  margin-bottom: 11px;
  text-align: center;
}

.input {
  height: 42px;
  min-width: 300px;
  border-radius: 4px;
  margin-bottom: 13px;
  border: 1px solid #f2f2f2;
  padding: 0;
  padding-left: 20px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
}

.input::placeholder {
  color: #bebebe;
  font-family: "Ubuntu", sans-serif;
}

.input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  color: #434343;
}

.link__active:hover {
  color: #01813f;
}

.hover__link {
  margin-left: 4px;
}

.hover__link:hover {
  text-decoration: underline;
}

.btn__submit {
  min-width: 324px;
  height: 46px;
  background-color: #3cb878cc;
  display: block;
  margin: 20px 60px 38px;
  padding: 0;
}

.btn__submit:hover {
  background-color: #01813f;
}

.checkbox__label {
  margin-left: 58px;
  display: flex;
  align-items: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.checkbox p {
  padding-right: 5px;
}
